<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.ertugrul.mail.unread.summary</string>

    <key>ProgramArguments</key>
    <array>
        <string>__PYTHON_PATH__</string>
        <string>__PROJECT_ROOT__/main.py</string>
    </array>

    <key>WorkingDirectory</key>
    <string>__PROJECT_ROOT__</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>MAIL_SOURCE</key>
        <string>__MAIL_SOURCE__</string>
        <key>GMAIL_CREDENTIALS_FILE</key>
        <string>__GMAIL_CREDENTIALS_FILE__</string>
        <key>GMAIL_TOKEN_FILE</key>
        <string>__GMAIL_TOKEN_FILE__</string>
        <key>GMAIL_CACHE_FILE</key>
        <string>__GMAIL_CACHE_FILE__</string>
    </dict>

    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>8</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>

    <key>StandardOutPath</key>
    <string>__PROJECT_ROOT__/logs/output.log</string>

    <key>StandardErrorPath</key>
    <string>__PROJECT_ROOT__/logs/error.log</string>
</dict>
</plist>
